$sp-full-width: 390;
$pc-full-width: 1400;
$pc-content-width: 1240;

$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

$production: 1;

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@function vw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $sp-full-width
);
}

@function vwt($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-content-width);
}

@function px2Rem($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px / 16) * 1rem;
}

@function vwp($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-full-width);
}

//index
//header
.header {
    padding: vw(20) vw(16);

    @include mq() {
        padding: vwt(25) vwt(40) 0 vwt(35);

    }

    @include mq(lg) {
        padding: px2Rem(25) px2Rem(40) 0 px2Rem(35);
    }

    &__container {
        display: flex;
        justify-content: space-between;

        @include mq() {
            max-width: vwt(1163);
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        @include mq(lg) {
            max-width: px2Rem(1163);
            margin: 0 auto;
        }
    }

    &__logo {
        width: vw(198);

        @include mq() {
            width: vwt(265);

        }

        @include mq(lg) {
            width: px2Rem(265);

        }
    }

    &__nav {
        display: none;
        background: #168352;
        position: absolute;
        top: 70px;
        left: 15px;
        z-index: 9999;
        border-radius: vw(24);

        @include mq() {
            border-radius: vwt(24);
            display: flex;
            position: static;
            width: auto;
            background: transparent;
            border-radius: 0;
        }

        @include mq(lg) {
            border-radius: px2Rem(24);
            display: flex;
        }
    }

    &__list {
        width: vw(358);
        text-align: center;
        list-style: none;

        @include mq() {
            display: flex;
            width: auto;
            gap: vwt(30);
        }

        @include mq(lg) {
            width: auto;
            gap: px2Rem(30);
        }
    }

    &__link {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        display: block;
        padding: 24px 0;
        transition: .5s;

        @include mq() {
            color: #000;
        }

        @include mq(lg) {}
    }

    &__special {
        @include mq() {
            display: none;
        }

        @include mq(lg) {}

    }
}

.hamburger-menu {
    width: vw(24);
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0;
    cursor: pointer;

    @include mq() {
        display: none;
    }
}

.hamburger-menu__bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #242424;
    transition: 0.4s ease;
}

.hamburger-menu__bar:first-child {
    top: 0;
}

.hamburger-menu__bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-menu__bar:last-child {
    top: 100%;
    transform: translateY(-100%);
}

.hamburger-menu--open .hamburger-menu__bar:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu--open .hamburger-menu__bar:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

//改行
.next {
    @include mq() {
        display: none;
    }

    @include mq(lg) {}
}

//改行PC
.next-pc {
    display: none;

    @include mq() {
        display: flex;
    }

    @include mq(lg) {}
}

//index
//intro
.intro {
    padding: vw(18) vw(15) 0 vw(15);

    @include mq() {
        padding: vwt(70) vwt(10) 0 vwt(9);
    }

    @include mq(lg) {
        padding: px2Rem(70) px2Rem(10) 0 px2Rem(9);
    }

    &__container {
        width: vw(358);
        margin: 0 auto;

        @include mq() {
            max-width: vwt(1168);
            margin: 0 auto;
        }

        @include mq(lg) {
            max-width: px2Rem(1168);
        }
    }

    &__title {
        font-size: vw(28);
        font-weight: 700;
        margin-bottom: vw(22);
        font-family: Noto Sans JP;

        @include mq() {
            font-size: vwt(40);
            margin-bottom: vwt(32);
        }

        @include mq(lg) {
            font-size: px2Rem(40);
            margin-bottom: px2Rem(32);
        }
    }

    &__wrapper {
        @include mq() {
            display: flex;
            justify-content: space-around;
            gap: vwt(72);
        }

        @include mq(lg) {
            gap: px2Rem(72);
        }
    }

    &__text {
        font-size: vw(15);
        font-weight: 550;
        font-family: Noto Sans JP;
        line-height: 1.8;
        margin: 0 0 vw(24) 0;

        @include mq() {
            font-size: vwt(15);
            width: vwt(532);
            margin: 0 0 vwt(55) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(15);
            width: px2Rem(532);
            margin: 0 0 px2Rem(55) 0;
        }
    }

    &__img {
        width: 100%;
        height: vw(450);
        margin: 0 auto;

        @include mq() {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
        }

        @include mq(lg) {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
        }
    }
}

//index
//about
.about {
    padding: vw(53) 0 0 0;

    @include mq() {
        padding: vwt(64) 0 vwt(63) 0;
    }

    @include mq(lg) {
        padding: px2Rem(64) 0 px2Rem(63) 0;
    }

    &__container {
        @include mq() {
            width: vwt(955);
            margin: 0 auto ;
        }

        @include mq(lg) {
            width: px2Rem(955);
            margin: 0 auto ;
        }
    }

    &__title {
        font-size: vw(16);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(23) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(32) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(32) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;
        display: block;
        line-height: 1.1;
        margin: vw(6) 0 0 0;



        @include mq() {
            font-size: vwt(28);
            margin: vwt(8) 0 0 0;
        }

        @include mq(lg) {
            font-size: px2Rem(28);
            margin: px2Rem(8) 0 0 0;
        }
    }

    &__wrapper {
        background-image: url(/assets/image/about_us_sp.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: vw(545);
        padding: vw(32) vw(16);

        @include mq() {
            background-image: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            padding: 0;
        
        }

        @include mq(lg) {
            height: auto;
            padding: 0;
            
        }
    }

    &__box {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: vw(32);
        padding: vw(15) vw(20) vw(17) vw(25);

        @include mq() {
            padding: 0;
            border-radius: vwt(32);
        }

        @include mq(lg) {
            padding: 0;
            border-radius: px2Rem(32);
        }
    }

    &__subtitle {
        font-size: vw(18);
        font-weight: 700;
        line-height: 1.75;
        margin: 0 0 vw(7.6) 0;

        @include mq() {
            width: auto;
            font-size: vwt(20);
            margin: 0 0 vwt(23) 0;
        }

        @include mq(lg) {
            width: auto;
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(23) 0;
        }
    }

    &__text {
        font-size: vw(15);
        font-weight: 500;
        line-height: 1.75;

        @include mq() {
            width: vwt(410);
            font-size: vwt(15);
            margin-top: vwt(25);
        }

        @include mq(lg) {
            width: px2Rem(410);
            font-size: px2Rem(15);
            margin-top: px2Rem(25);
        }
    }

    &__img {
        display: none;

        @include mq() {
            display: block;
            
        }

        @include mq(lg) {
            display: block;

        }
    }
}

//index
//reasons
.reasons {
    padding: vw(52) vw(16) vw(36) vw(16);
    background-color: #f3f9f6;

    @include mq() {
        padding: vwt(64) vwt(16) vwt(64) vwt(16);
    }

    @include mq(lg) {
        padding: px2Rem(64) px2Rem(16) px2Rem(64) px2Rem(16);
    }

    &__container {
        @include mq() {
            max-width: vwt(1168);
            margin: 0 auto;
        }

        @include mq(lg) {
            max-width: px2Rem(1168);
        }
    }

    &__title {
        font-size: vw(16);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(23) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(34) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(34) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;
        display: block;
        line-height: 1.1;
        margin: vw(6) 0 0 0;




        @include mq() {
            font-size: vwt(28);
              margin: vwt(9) 0 0 vwt(10);
        }

        @include mq(lg) {
            font-size: px2Rem(28);
              margin: px2Rem(9) 0 0 px2Rem(10);
        }
    }

    &__text {
        background-color: #fff;
        padding: vw(12) vw(16) vw(15) vw(16);
        border-bottom-left-radius: vw(24);
        border-bottom-right-radius: vw(24);
        margin: 0 0 vw(20) 0;
        box-shadow: 2px 2px 2px #eee;
        font-size: vw(18);
        font-weight: 700;
        color: #111111;
        line-height: 1.7;

        @include mq() {
            width: vwt(369);
            padding: vwt(20) vwt(16);
            border-bottom-left-radius: vwt(24);
            border-bottom-right-radius: vwt(24);
            font-size: vwt(19);
        }

        @include mq(lg) {
            width: px2Rem(369);
            padding: px2Rem (20)px2Rem(16);
            border-bottom-left-radius: px2Rem(24);
            border-bottom-right-radius: px2Rem(24);
            font-size: px2Rem(19);
        }
    }

    &__img {
        display: block;
        width: vw(358);
        height: vw(201);

        @include mq() {
            width: vwt(369);
            height: auto;
        }

        @include mq(lg) {
            width: px2Rem(369);
            height: auto;
        }
    }

    &__list {
        @include mq() {
            display: flex;
            justify-content: space-between;
            gap: vwt(30);
        }

        @include mq(lg) {
            gap: px2Rem(30);
        }
    }
}

//index
//service
.service {
    padding: vw(54) vw(16) vw(36) vw(16);

    &__container {
        @include mq() {
            max-width: vwt(1168);
            margin: 0 auto;
        }

        @include mq(lg) {
            max-width: px2Rem(1168);
        }
    }

    &__title {
        font-size: vw(16);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(22) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(24) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(24) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;
        display: block;
        line-height: 1.1;
        margin: vw(6) 0 0 0;




        @include mq() {
            font-size: vwt(28);
        }

        @include mq(lg) {
            font-size: px2Rem(28);
        }
    }

    &__list {
        @include mq() {
            display: flex;
            flex-wrap: wrap;


            justify-content: space-between;
        }

        @include mq(lg) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__link {
        width: vw(358);
        display: flex;
        align-items: center;
        gap: vw(18);
        padding: vw(20) vw(24);

        @include mq() {
            width: 100%;

            padding: vwt(20) vwt(10);
        }

        @include mq(lg) {
            width: 100%;

            padding: px2Rem(20) px2Rem(10);
        }
    }

    &__item {
        background-color: #168352;
        border-radius: vw(24);
        margin: 0 0 vw(20) 0;

        &:hover {
            background-color: #dffaec;

            .service__txt {
                color: #168352;
            }
        }

        @include mq() {
            width: calc((100% - #{vwt(20)}) / 2);
            border-radius: vwt(24);
            margin: 0 0 vwt(20) 0;
            gap: vwt(20);
        }

        @include mq(lg) {
            width: calc((100% - #{px2Rem(20)}) / 2);
            border-radius: px2Rem(24);
            margin: 0 0 px2Rem(20) 0;
            gap: px2Rem(20);
        }
    }

    &__item-special {
        @include mq() {
            width: calc((100% - #{vwt(20) * 2}) / 3);
        }

        @include mq(lg) {
            width: calc((100% - #{px2Rem(20) * 2}) / 3);
        }
    }

    &__txt {
        font-size: vw(18);
        font-weight: 600;
        color: #fff;
        line-height: 1.75;

        @include mq() {
            font-size: vwt(24);
        }

        @include mq(lg) {
            font-size: px2Rem(24);
        }
    }

    &__txt-special {
        @include mq() {
            width: vwt(160);
            font-size: vwt(20);
        }

        @include mq(lg) {
            width: px2Rem(160);
            font-size: px2Rem(20);
        }
    }

    &__img {
        display: block;
        width: vw(100);
        height: vw(100);

        @include mq() {
            width: vwt(133);
            height: vwt(133);

        }

        @include mq(lg) {
            width: px2Rem(133);
            height: px2Rem(133);

        }
    }

    &__img-special {
        @include mq() {
            width: vwt(110);
            height: vwt(110);
        }

        @include mq(lg) {
            width: px2Rem(110);
            height: px2Rem(110);
        }
    }
}

//index
//case
.case {
    padding: vw(53) vw(0) vw(23) vw(0);
    background-color: #f3f9f6;

    @include mq() {
        padding: vwt(56) vwt(0) vwt(56) vwt(0);
    }

    @include mq(lg) {
        padding: px2Rem(56) px2Rem(0) px2Rem(56) px2Rem(0);
    }

    &__container {
        @include mq() {
            max-width: vwt(1168);
            margin: 0 auto;
        }

        @include mq(lg) {
            max-width: px2Rem(1168);
        }
    }

    &__title {
        font-size: vw(16);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(22) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(24) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(24) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;
        display: block;
        line-height: 1.1;
        margin: vw(6) 0 0 0;




        @include mq() {
            font-size: vwt(28);
        }

        @include mq(lg) {
            font-size: px2Rem(28);
        }
    }

    &__list {
        @include mq() {
            display: flex;
            // gap: vwt(21);
            justify-content: space-between;
            // align-items: center;
        }

        @include mq(lg) {
            // gap: px2Rem(21)
        }
    }

    &__item {
        padding: 0 vw(15);

        @include mq() {

            padding: 0;
        }

        @include mq(lg) {
            padding: 0;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: vw(201);
        margin: 0 auto;

        @include mq() {
            width: 100%;
            height: vwt(226);
            margin: 0;
        }

        @include mq(lg) {
            width: 100%;
            height: px2Rem(226);
        }
    }

    &__text {
        color: #09947b;
        font-size: vw(18);
        font-weight: 700;
        margin: vw(7.7) 0 vw(26) vw(2);
        line-height: 1.75;

        @include mq() {
            width: vwt(365);
            font-size: vwt(19);
            margin: vwt(16) 0 vwt(32) vwt(18);
        }

        @include mq(lg) {
            width: px2Rem(365);
            font-size: px2Rem(19);
            margin: px2Rem(16) 0 px2Rem(32) px2Rem(18);
        }
    }
}

//index
//news
.news {
    padding: vw(52) vw(0) vw(60) vw(0);

    @include mq() {
        padding: vwt(56) vwt(0) vwt(56) vwt(0);
    }

    @include mq(lg) {
        padding: px2Rem(56) px2Rem(0) px2Rem(56) px2Rem(0);
    }

    &__container {
        @include mq() {
            width: vwt(900);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(900);
        }
    }


    &__title {
        font-size: vw(16);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(23) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(24) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(24) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;
        display: block;
        line-height: 1.1;
        margin: vw(6) 0 0 0;




        @include mq() {
            font-size: vwt(28);
        }

        @include mq(lg) {
            font-size: px2Rem(28);
        }
    }

    &__wrapper {
        padding: vw(16) vw(0) vw(16) vw(0);
        border-top: 2px solid #dddddd;
        margin: 0 vw(15);

        @include mq() {
            display: flex;
            gap: vwt(24);
            align-items: center;
            padding: vwt(16) vwt(0) vwt(16) vwt(0);
            margin: 0 vwt(15);
        }

        @include mq(lg) {
            gap: px2Rem(24);
            padding: px2Rem(16) px2Rem(0) px2Rem(16) px2Rem(0);
            margin: 0 px2Rem(15);
        }
    }

    &__wrapper:last-child {
        border-bottom: 2px solid #dddddd;
    }

    &__item {
        margin: vw(7) vw(20) vw(10) vw(15);
        border-top: 1px solid #dddddd;

        @include mq() {
            display: flex;
            align-items: center;
            gap: vwt(20);
            margin: 0;
            padding: vwt(20) vwt(20) vwt(20) vwt(15);
        }

        @include mq(lg) {
            gap: px2Rem(20);
            margin: 0;
            padding: px2Rem(20) px2Rem(20) px2Rem(20) px2Rem(15);
        }
    }

    &__item:last-child {

        border-bottom: 1px solid #dddddd;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: vw(18);
        margin: vw(14) 0 vw(10) 0;

        @include mq() {
            gap: vwt(30);
            margin: 0;
        }

        @include mq(lg) {
            gap: px2Rem(30);
            margin: 0;
        }
    }

    &__date {
        font-size: vw(15);
        font-weight: 400;

        @include mq() {
            font-size: vwt(14);
        }

        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }

    &__summery {
        margin-top: vw(1);
        display: flex;
        justify-content: center;
        align-items: center;
        width: vw(134);
        height: vw(28);
        font-size: vw(13);
        background-color: #473221;
        border-radius: vw(4);
        color: #fff;

        @include mq() {
            font-size: vwt(13);
            width: vwt(134);
            height: vwt(28);
            border-radius: vwt(4);
        }

        @include mq(lg) {
            font-size: px2Rem(13);
            width: px2Rem(134);
            height: px2Rem(28);
            border-radius: px2Rem(4);
        }
    }

    &__text {
        font-size: vw(15);
        font-weight: 700;
        color: #09947b;
        line-height: 1.75;
        margin: 0 0 0 vw(2);

        @include mq() {
            font-size: vwt(15);
        }

        @include mq(lg) {
            font-size: px2Rem(15);
        }
    }

    &__text-special {
        font-size: vw(15);
        font-weight: 700;
        color: #09947b;
        line-height: 1.75;
        margin: vw(-2) 0 vw(10) 0;
    }



    //button
    &__button {
        cursor: pointer;
        width: vw(300);
        height: vw(66);
        color: #fff;
        font-weight: 700;
        font-size: vw(18);
        background-color: #09947b;
        border-radius: vw(33);
        margin: vw(25.5) auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 6px 0 #066655;

        &:hover {
            transform: translateY(6px);
            box-shadow: none;
        }

        @include mq() {
            width: vwt(300);
            height: vwt(66);
            border-radius: vwt(33);
            margin: vwt(24) auto 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(300);
            height: px2Rem(66);
            border-radius: px2Rem(33);
            margin: px2Rem(24) auto 0 auto;
        }
    }
}

//index
//footer
.footer {
    height: vw(68);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: vw(16);
    background-color: #168352;
    padding: vw(24) vw(62);
    font-size: vw(13);
    font-weight: 400;
    color: #fff;

    @include mq() {
        gap: vwt(16);
        padding: vwt(34) vwt(62);
        font-size: vwt(13);
    }

    @include mq(lg) {
        gap: px2Rem(16);
        padding: px2Rem(34) px2Rem(62);
        font-size: px2Rem(13);
    }
}

//price
//cover
.cover {
    padding: vw(10) vw(5);

    @include mq() {
        padding: vwt(10) vwt(5);
    }

    @include mq(lg) {
        padding: px2Rem(10) px2Rem(5);
    }

    &__container {
        width: vw(356);
        margin: 0 auto;

        @include mq() {
            width: vwt(1168);
            margin: 0 auto;
            position: relative;
        }

        @include mq(lg) {
            width: px2Rem(1168);
            margin: 0 auto;
            position: relative;
        }
    }

    &__img {
        width: vw(358);
        margin: 0 auto vw(32) auto;

        @include mq() {
            width: vwt(1168);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(1168);
            margin: 0 auto;

        }
    }

    &__title {
        font-size: vw(30);
        font-weight: 700;
        margin: 0;

        @include mq() {
            font-size: vwt(36);
            margin: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
            padding: vwt(39) vwt(40);
            border-top-right-radius: vwt(40);
        }

        @include mq(lg) {
            font-size: px2Rem(36);
            margin: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
            padding: px2Rem(39) px2Rem(40);
            border-top-right-radius: px2Rem(40)
        }
    }

}

//gototop
.sections {
    &__container {
        max-width: vw(368);
        margin: 0 auto;

        @include mq() {
            max-width: vwt(800);
            margin: 0 auto;
        }

        @include mq(lg) {
            max-width: px2Rem(800);
            margin: 0 auto;
        }
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        font-size: vw(12);
        font-weight: 400;
        margin: 0 0 vw(32) 0;

        @include mq() {
            font-size: vwt(12);
            margin: vwt(20) 0 vwt(32) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(12);
            margin: px2Rem(20) 0 px2Rem(32) 0;
        }
    }


}

//price
//section
.section {
    &__title {
        font-size: vw(22);
        font-weight: 700;
        margin: 0 0 vw(20) 0;

        @include mq() {
            font-size: vwt(28);
            font-weight: 700;
            margin: 0 0 vwt(20) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(28);
            font-weight: 700;
            margin: 0 0 px2Rem(20) 0;
        }
    }
}

.progress-bar {
    height: 3px;
    background-color: #e0e0e0;
    border-radius: 1px;
    overflow: hidden;
    margin-bottom: vw(20);

    @include mq() {
        height: 5px;
        margin-bottom: vwt(20);
    }

    @include mq(lg) {
        height: 5px;
        margin-bottom: px2Rem(20);

    }
}

.progress-fill {
    width: 10%;
    height: 100%;
    background-color: #1b7f5b;

    @include mq() {
        width: 10%;
    }

    @include mq(lg) {
        width: 10%;
    }
}

.swiper {
    --swiper-pagination-bottom: 70px;
}

//price
//gallery
.gallery {
    padding: vw(10) vw(5);

    @include mq() {
        padding: vwt(10) vwt(5);
    }

    @include mq(lg) {
        padding: px2Rem(10) px2Rem(5);
    }

    &__container {
        width: vw(358);
        margin: 0 auto;

        @include mq() {
            width: vwt(800);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(800);
            margin: 0 auto;
        }

    }

    &__img {
        width: vw(358);
        height: vw(237);
        border-radius: vw(24);
        margin: 0 auto vw(63) auto;

        @include mq() {
            width: vwt(800);
            height: vwt(499.99);
            border-radius: vwt(24);
            margin: 0 auto vwt(64) auto;
        }

        @include mq(lg) {
            width: px2Rem(800);
            height: px2Rem(499.99);
            border-radius: px2Rem(24);
            margin: 0 auto px2Rem(64) auto;
        }
    }


}

//price
//feature
.feature {
    padding: vw(10) vw(5);

    @include mq() {
        padding: vwt(10) vwt(5);
    }

    @include mq(lg) {
        padding: px2Rem(10) px2Rem(5);
    }

    &__container {
        width: vw(358);
        margin: 0 auto;

        @include mq() {
            width: vwt(800);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(800);
            margin: 0 auto;
        }

    }

    &__img {
        width: vw(358);
        height: vw(200);
        border-radius: vw(24);
        margin: 0 auto vw(16) auto;

        @include mq() {
            width: vwt(246);
            height: vwt(150);
            border-radius: vwt(24);
            margin: 0 auto vwt(16) auto;
        }

        @include mq(lg) {
            width: px2Rem(246);
            height: px2Rem(150);
            border-radius: px2Rem(24);
            margin: 0 auto px2Rem(16) auto;
        }
    }

    &__wrap {
        @include mq() {
            display: flex;
            justify-content: space-between;
        }

        @include mq(lg) {}
    }

    &__txt {
        font-size: vw(18);
        font-weight: 700;
        margin: 0 0 vw(40) 0;

        @include mq() {
            font-size: vwt(18);
            margin: 0 0 vwt(40) 0;
            width: vwt(250);
        }

        @include mq(lg) {
            font-size: px2Rem(18);
            margin: 0 0 px2Rem(40) 0;
            width: px2Rem(250);
        }
    }
}

//price
//price

.price {
    padding: vw(10) vw(00);

    @include mq() {
        padding: vwt(10) vwt(5);
    }

    @include mq(lg) {
        padding: px2Rem(10) px2Rem(5);
    }

    &__container {
        width: vw(358);
        margin: 0 auto;

        @include mq() {
            width: vwt(800);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(800);
            margin: 0 auto;
        }

    }

    &__txt {
        font-family: Montserrat;
        font-weight: 700;
        font-size: vw(32);
        margin: 0 0 vw(64) vw(20);

        @include mq() {
            font-size: vwt(32);
            margin: 0 0 vwt(64) vwt(20);
        }

        @include mq(lg) {
            font-size: px2Rem(32);
            margin: 0 0 px2Rem(64) px2Rem(20);
        }
    }

    &__tax {
        font-size: vw(16);
        font-weight: 700;

        @include mq() {
            font-size: vwt(16);
        }

        @include mq(lg) {
            font-size: px2Rem(16);
        }
    }
}

//price
//spec
.spec {
    padding: vw(10) vw(0) vw(64) vw(0);

    @include mq() {
        padding: vwt(10) vwt(0) vwt(64) vwt(0);
    }

    @include mq(lg) {
        padding: px2Rem(10) px2Rem(0) px2Rem(64) px2Rem(0);
    }

    &__container {
        width: vw(358);
        margin: 0 auto;

        @include mq() {
            width: vwt(800);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(800);
            margin: 0 auto;
        }

    }

    &__subtitle {
        font-size: vw(20);
        font-weight: 700;
        margin: 0 0 vw(23) vw(20);

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(23) vwt(20);
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(23) px2Rem(20);
        }
    }

    &__table-first {
        border-top: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        ;
        border-right: 1px solid #dddddd;
        ;

        @include mq() {
            width: vwt(752);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(752);
        }
    }

    &__table {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #dddddd;

        @include mq() {
            display: flex;
            flex-direction: row;
        }

        @include mq(lg) {}
    }

    &__header {
        width: vw(358);
        height: vw(40);
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        padding: 0 0 0 vw(20);

        @include mq() {
            width: vwt(200);
            height: vwt(64);
            padding: vwt(24) 0 vwt(24) vwt(26);
        }

        @include mq(lg) {
            width: px2Rem(200);
            height: px2Rem(64);
            padding: px2Rem(24) 0 px2Rem(24) px2Rem(26);
        }
    }

    &__cell {
        width: vw(358);
        height: vw(40);
        display: flex;
        align-items: center;
        padding: 0 0 0 vw(20);
        font-weight: 500;

        @include mq() {
            width: vwt(541);
            height: vwt(64);
            padding: vwt(24) 0 vwt(24) vwt(26);
        }

        @include mq(lg) {
            width: px2Rem(541);
            height: px2Rem(64);
            padding: px2Rem(24) 0 px2Rem(24) px2Rem(26);
        }
    }
}

//price
//お問い合わせ

.button {
    background-image: url(/assets/image/faq.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: vw(360);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    @include mq() {
        background-image: url(/assets/image/faq_pc.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: vwt(450);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }

    @include mq(lg) {
        height: px2Rem(450);
    }

    &__click {
        color: #fff;
        border: 2px solid #fff;
        padding: vw(30) vw(120);
        border-radius: 9999999px;

        &:hover {
            background-color: #fff;
            color: #168352;
        }

        @include mq() {
            padding: vwt(30) vwt(120);
            border-radius: 9999999px;
            font-size: vwt(20);
        }

        @include mq(lg) {
            padding: px2Rem(30) px2Rem(120);
            border-radius: 9999999px;
            font-size: px2Rem(20);
        }

    }
}

//qa
//qa
.qa {
    &__wrapper {
        width: vw(358);
        height: auto;
        margin: vw(20) auto;
        border: 1px solid #cccccc;
        border-radius: vw(24);
        padding: vw(20) vw(30);

        @include mq() {
            width: vwt(800);
            margin: vwt(20) auto;
            border-radius: vwt(24);
            padding: vwt(20) vwt(30);

        }

        @include mq(lg) {
            width: px2Rem(800);
            margin: px2Rem(20) auto;
            border-radius: px2Rem(24);
            padding: px2Rem(20) px2Rem(30);

        }
    }

    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq() {}

        @include mq(lg) {}
    }

    &__label {
        display: flex;
        align-items: center;
        gap: vw(8);

        @include mq() {
            gap: vwt(8);
        }

        @include mq(lg) {
            gap: px2Rem(8);
        }
    }

    &__icon {
        color: green;
        font-weight: bold;

        @include mq() {}

        @include mq(lg) {}
    }

    &__tag {
        padding: vw(2) vw(8);
        border: 1px solid green;
        color: green;
        font-size: vw(12);
        border-radius: vw(4);

        @include mq() {
            padding: vwt(2) vwt(8);
            font-size: vwt(12);
            border-radius: vwt(4);
        }

        @include mq(lg) {
            padding: px2Rem(2) px2Rem(8);
            font-size: px2Rem(12);
            border-radius: px2Rem(4);
        }
    }

    &__toggle {
        font-size: vw(20);
        background: none;
        border: none;
        cursor: pointer;

        @include mq() {
            font-size: vwt(20);
        }

        @include mq(lg) {
            font-size: px2Rem(20);
        }
    }

    &__text {
        width: vw(228);
        margin: vw(20) auto;
        font-weight: bold;

        @include mq() {
            width: vwt(743);
            margin: vwt(20) auto;
        }

        @include mq(lg) {
            width: px2Rem(743);
            margin: px2Rem(20) auto;
        }
    }

    &__answer {
        margin-top: vw(12);
        display: none;
        color: #333;
        font-size: vw(16);

        @include mq() {
            margin-top: vwt(12);
            font-size: vwt(16);
        }

        @include mq(lg) {
            margin-top: px2Rem(12);
            font-size: px2Rem(16);
        }
    }
}