$sp-full-width: 390;
$pc-full-width: 1440;
$pc-content-width: 1029;

$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

$production: 1;

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@function vw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $sp-full-width
);
}

@function px2Rem($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px / 16) * 1rem;
}

@function vwp($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-full-width);
}

//intro
.intro {
    padding: vw(22) vw(15) 0 vw(15);

    &__container {
        width: vw(358);
        margin: 0 auto;
    }

    &__title {
        font-size: vw(28);
        font-weight: 700;
        margin-bottom: vw(32);
        font-family: Noto Sans JP;
    }

    &__text {
        font-size: vw(15);
        font-weight: 550;
        font-family: Noto Sans JP;
        line-height: 1.75;
        margin: 0 0 vw(32) 0;
    }

    &__img {
        width: vw(358);
        height: vw(450);
        margin: 0 auto;
    }
}

//about
.about {
    padding: vw(56) 0 0 0;

    &__title {
        font-size: vw(18);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(24) 0;
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;
    }
    &__wrapper{
        background-image: url(/assets/image/about_us_sp.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: vw(545);
        padding: vw(32) vw(16) ;
    }
    &__box{
        background-color: rgba(255,255,255,0.8);
        border-radius: vw(32);
        padding: vw(24);
    }

    &__subtitle {
        font-size: vw(18);
        font-weight: 700;
        line-height: 1.75;
    }
    &__text{
        font-size: vw(15);
        font-weight: 500;
        line-height: 1.6;
    }
}
//reasons
.reasons{
    padding: vw(56) vw(16) vw(56) vw(16);
    background-color: #f3f9f6;
   &__title {
        font-size: vw(18);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(24) 0;
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;
    }
    &__text{
        background-color: #fff;
        padding: vw(20) vw(16);
        border-bottom-left-radius:vw(24) ;
        border-bottom-right-radius: vw(24);
        margin: 0 0 vw(20) 0;
        box-shadow: 2px 2px 2px #eee;
        font-size: vw(18);
        font-weight: 700;
        color: #111111;
    }
} 
//service
.service{
      padding: vw(56) vw(16) vw(56) vw(16);
   &__title {
        font-size: vw(18);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(24) 0;
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;
    }
    &__item{
        background-color: #168352;
        border-radius: vw(24);
        display: flex;
        align-items: center;
        gap: vw(20);
        padding: vw(20) vw(24);
        margin: 0 0 vw(20) 0;
    }
    &__txt{
        font-size: vw(18);
        font-weight: 600;
        color: #fff;
        line-height: 1.75;
    }
}
.case{
      padding: vw(56) vw(0) vw(56) vw(0);
      background-color: #f3f9f6;
      
   &__title {
        font-size: vw(18);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(24) 0;
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;
    }
    &__img{
        width: vw(358);
        height: vw(201);
        margin: 0 auto;
    }
    &__text{
        color: #09947b;
        font-size: vw(18);
        font-weight: 700;
        padding: vw(16) vw(16) vw(32) vw(18);
    }
}