.header {
  padding: 5.1282051282vw 0 0 4.1025641026vw;
}
.header__logo {
  width: 50.7692307692vw;
}
.header__nav {
  display: none;
  background: #168352;
  position: absolute;
  top: 50px;
  left: 15px;
  width: 91.7948717949vw;
  z-index: 9999;
  border-radius: 6.1538461538vw;
}
.header__list {
  width: 91.7948717949vw;
  text-align: center;
  list-style: none;
}
.header__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 24px 0;
  transition: 0.5s;
}

.hamburger-menu {
  width: 50px;
  position: relative;
  border: none;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  cursor: pointer;
}

.hamburger-menu__bar {
  display: inline-block;
  width: 44%;
  height: 2px;
  background: #242424;
  position: absolute;
  left: 8rem;
  transition: 0.5s;
}

.hamburger-menu__bar:first-child {
  top: -15px;
}

.hamburger-menu__bar:nth-child(2) {
  top: -7px;
}

.hamburger-menu__bar:last-child {
  top: 1px;
}

.hamburger-menu--open .hamburger-menu__bar {
  top: 50%;
}

.hamburger-menu--open .hamburger-menu__bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.hamburger-menu--open .hamburger-menu__bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
  display: none;
}

.intro {
  padding: 5.641025641vw 3.8461538462vw 0 3.8461538462vw;
}
.intro__container {
  width: 91.7948717949vw;
  margin: 0 auto;
}
.intro__title {
  font-size: 7.1794871795vw;
  font-weight: 700;
  margin-bottom: 8.2051282051vw;
  font-family: Noto Sans JP;
}
.intro__text {
  font-size: 3.8461538462vw;
  font-weight: 550;
  font-family: Noto Sans JP;
  line-height: 1.75;
  margin: 0 0 8.2051282051vw 0;
}
.intro__img {
  width: 91.7948717949vw;
  height: 115.3846153846vw;
  margin: 0 auto;
}

.about {
  padding: 14.358974359vw 0 0 0;
}
.about__title {
  font-size: 4.6153846154vw;
  color: #168352;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  margin: 0 0 6.1538461538vw 0;
}
.about__translation {
  font-family: Noto Sans JP;
  font-size: 5.1282051282vw;
  color: #000;
  text-align: center;
  font-weight: 700;
}
.about__wrapper {
  background-image: url(/assets/image/about_us_sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 139.7435897436vw;
  padding: 8.2051282051vw 4.1025641026vw;
}
.about__box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8.2051282051vw;
  padding: 6.1538461538vw;
}
.about__subtitle {
  font-size: 4.6153846154vw;
  font-weight: 700;
  line-height: 1.75;
}
.about__text {
  font-size: 3.8461538462vw;
  font-weight: 500;
  line-height: 1.6;
}

.reasons {
  padding: 14.358974359vw 4.1025641026vw 14.358974359vw 4.1025641026vw;
  background-color: #f3f9f6;
}
.reasons__title {
  font-size: 4.6153846154vw;
  color: #168352;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  margin: 0 0 6.1538461538vw 0;
}
.reasons__translation {
  font-family: Noto Sans JP;
  font-size: 5.1282051282vw;
  color: #000;
  text-align: center;
  font-weight: 700;
}
.reasons__text {
  background-color: #fff;
  padding: 5.1282051282vw 4.1025641026vw;
  border-bottom-left-radius: 6.1538461538vw;
  border-bottom-right-radius: 6.1538461538vw;
  margin: 0 0 5.1282051282vw 0;
  box-shadow: 2px 2px 2px #eee;
  font-size: 4.6153846154vw;
  font-weight: 700;
  color: #111111;
}
.reasons__img {
  display: block;
  width: 91.7948717949vw;
  height: 51.5384615385vw;
}

.service {
  padding: 14.358974359vw 4.1025641026vw 14.358974359vw 4.1025641026vw;
}
.service__title {
  font-size: 4.6153846154vw;
  color: #168352;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  margin: 0 0 6.1538461538vw 0;
}
.service__translation {
  font-family: Noto Sans JP;
  font-size: 5.1282051282vw;
  color: #000;
  text-align: center;
  font-weight: 700;
}
.service__item {
  background-color: #168352;
  border-radius: 6.1538461538vw;
  padding: 5.1282051282vw 6.1538461538vw;
  margin: 0 0 5.1282051282vw 0;
  display: flex;
  align-items: center;
  gap: 5.1282051282vw;
}
.service__item:hover {
  background-color: #dffaec;
}
.service__item:hover .service__txt {
  color: #168352;
}
.service__txt {
  font-size: 4.6153846154vw;
  font-weight: 600;
  color: #fff;
  line-height: 1.75;
}
.service__img {
  display: block;
  width: 25.641025641vw;
  height: 25.641025641vw;
}

.case {
  padding: 14.358974359vw 0vw 14.358974359vw 0vw;
  background-color: #f3f9f6;
}
.case__title {
  font-size: 4.6153846154vw;
  color: #168352;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  margin: 0 0 6.1538461538vw 0;
}
.case__translation {
  font-family: Noto Sans JP;
  font-size: 5.1282051282vw;
  color: #000;
  text-align: center;
  font-weight: 700;
}
.case__img {
  display: block;
  width: 91.7948717949vw;
  height: 51.5384615385vw;
  margin: 0 auto;
}
.case__text {
  color: #09947b;
  font-size: 4.6153846154vw;
  font-weight: 700;
  padding: 4.1025641026vw 4.1025641026vw 8.2051282051vw 4.6153846154vw;
}

.news {
  padding: 14.358974359vw 0vw 14.358974359vw 0vw;
}
.news__title {
  font-size: 4.6153846154vw;
  color: #168352;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  margin: 0 0 6.1538461538vw 0;
}
.news__translation {
  font-family: Noto Sans JP;
  font-size: 5.1282051282vw;
  color: #000;
  text-align: center;
  font-weight: 700;
}
.news__wrapper {
  padding: 4.1025641026vw 0vw 4.1025641026vw 0vw;
  border-top: 2px solid #dddddd;
  margin: 0 3.8461538462vw;
}
.news__wrapper:last-child {
  border-bottom: 2px solid #dddddd;
}
.news__box {
  display: flex;
  align-items: center;
  gap: 4.6153846154vw;
  margin-bottom: 4.1025641026vw;
}
.news__date {
  font-size: 3.8461538462vw;
  font-weight: 400;
}
.news__summery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34.358974359vw;
  height: 7.1794871795vw;
  background-color: #473221;
  border-radius: 1.0256410256vw;
  color: #fff;
}
.news__text {
  font-size: 3.8461538462vw;
  font-weight: 700;
  color: #09947b;
}
.news__button {
  width: 76.9230769231vw;
  height: 16.9230769231vw;
  color: #fff;
  font-weight: 700;
  background-color: #09947b;
  border-radius: 8.4615384615vw;
  margin: 6.1538461538vw auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 0 #066655;
}
.news__button:hover {
  transform: translateY(6px);
  box-shadow: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.1025641026vw;
  background-color: #168352;
  padding: 6.1538461538vw 15.8974358974vw;
  font-size: 3.3333333333vw;
  font-weight: 400;
  color: #fff;
}/*# sourceMappingURL=main.css.map */