$sp-full-width: 390;
$pc-full-width: 1400;
$pc-content-width: 1030;

$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

$production: 1;

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@function vw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $sp-full-width
);
}

@function vwt($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-content-width);
}

@function px2Rem($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px / 16) * 1rem;
}

@function vwp($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-full-width);
}

//header
.header {
    padding: vw(20) 0 0 vw(16);

    @include mq() {
        padding: vwt(41) vwt(10) 0 vwt(10);

    }

    @include mq(lg) {
        padding: px2Rem(41) px2Rem(10) 0 px2Rem(10);
    }

    &__container {
        @include mq() {
            max-width: vwt(1168);
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        @include mq(lg) {
            max-width: px2Rem(1168);
            margin: 0 auto;
        }
    }

    &__logo {
        width: vw(198);

        @include mq() {
            width: vwt(265);
            height: vwt(33);
        }

        @include mq(lg) {
            width: px2Rem(265);
            height: px2Rem(33);
        }
    }

    &__nav {
        display: none;
        background: #168352;
        position: absolute;
        top: 50px;
        left: 15px;
        width: vw(358);
        z-index: 9999;
        border-radius: vw(24);

        @include mq() {
            border-radius: vwt(24);
            width: vwt(358);
            display: flex;
            position: static;
            width: auto;
            background: transparent;
            border-radius: 0;
        }

        @include mq(lg) {
            border-radius: px2Rem(24);
            width: px2Rem(358);
            display: flex;
        }
    }

    &__list {
        width: vw(358);
        text-align: center;
        list-style: none;

        @include mq() {
            display: flex;
            width: auto;
            gap: vwt(20);
        }

        @include mq(lg) {
            width: auto;
            gap: px2Rem(20);
        }
    }

    &__link {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        display: block;
        padding: 24px 0;
        transition: .5s;

        @include mq() {
            color: #000;
        }

        @include mq(lg) {}
    }

    &__special {
        @include mq() {
            display: none;
        }

        @include mq(lg) {}

    }
}

.hamburger-menu {
    width: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0;
    cursor: pointer;

    @include mq() {
        display: none;
    }

    @include mq(lg) {}
}

.hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: #242424;
    position: absolute;
    left: vw(128);
    transition: .5s;
}

.hamburger-menu__bar:first-child {
    top: -15px;
}

.hamburger-menu__bar:nth-child(2) {
    top: -7px;
}

.hamburger-menu__bar:last-child {
    top: 1px;
}

.hamburger-menu--open .hamburger-menu__bar {
    top: 50%;
}

.hamburger-menu--open .hamburger-menu__bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.hamburger-menu--open .hamburger-menu__bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    display: none;
}



//intro
.intro {
    padding: vw(22) vw(15) 0 vw(15);

    @include mq() {
        padding: vwt(55) vwt(10) 0 vwt(10);
    }

    @include mq(lg) {
        padding: px2Rem(55) px2Rem(10) 0 px2Rem(10);
    }

    &__container {
        width: vw(358);
        margin: 0 auto;

        @include mq() {
            max-width: vwt(1168);
            margin: 0 auto;
        }

        @include mq(lg) {
            max-width: px2Rem(1168);
        }
    }

    &__title {
        font-size: vw(28);
        font-weight: 700;
        margin-bottom: vw(32);
        font-family: Noto Sans JP;

        @include mq() {
            font-size: vwt(40);
            margin-bottom: vwt(32);
        }

        @include mq(lg) {
            font-size: px2Rem(40);
            margin-bottom: px2Rem(32);
        }
    }

    &__wrapper {
        @include mq() {
            display: flex;
            justify-content: space-around;
            gap: vwt(50);
        }

        @include mq(lg) {
            gap: px2Rem(50);
        }
    }

    &__text {
        font-size: vw(15);
        font-weight: 550;
        font-family: Noto Sans JP;
        line-height: 1.75;
        margin: 0 0 vw(32) 0;

        @include mq() {
            font-size: vwt(15);
            width: vwt(532);
            margin: 0 0 vwt(64) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(15);
            width: px2Rem(532);
            margin: 0 0 px2Rem(64) 0;
        }
    }

    &__img {
        width: vw(358);
        height: vw(450);
        margin: 0 auto;

        @include mq() {
            display: block;
            width: vwt(1168);
            height: auto;
            margin: 0;
        }

        @include mq(lg) {
            display: block;
            width: px2Rem(1168);
            height: auto;
            margin: 0;
        }
    }
}

//about
.about {
    padding: vw(56) 0 0 0;

    @include mq() {
        padding: vwt(64) 0 0 0;
    }

    @include mq(lg) {
        padding: px2Rem(64) 0 0 0;
    }

    &__container {
        @include mq() {
            width: vwt(955);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(955);
        }
    }

    &__title {
        font-size: vw(18);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(24) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(24) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(24) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;

        @include mq() {
            font-size: vwt(28);
        }

        @include mq(lg) {
            font-size: px2Rem(28);
        }
    }

    &__wrapper {
        background-image: url(/assets/image/about_us_sp.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: vw(545);
        padding: vw(32) vw(16);

        @include mq() {
            background-image: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            padding: vwt(32) vwt(10);
        }

        @include mq(lg) {
            height: auto;
            padding: px2Rem(32) px2Rem(10);
        }
    }

    &__box {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: vw(32);
        padding: vw(24);

        @include mq() {
            padding: vwt(10);
            border-radius: vwt(32);
        }

        @include mq(lg) {
            padding: px2Rem(10);
            border-radius: px2Rem(32);
        }
    }

    &__subtitle {
        font-size: vw(18);
        font-weight: 700;
        line-height: 1.75;

        @include mq() {
            width: vwt(395);
            font-size: vwt(20);
            margin-bottom: vwt(40);
        }

        @include mq(lg) {
            width: px2Rem(395);
            font-size: px2Rem(20);
            margin-bottom: px2Rem(40);
        }
    }

    &__text {
        font-size: vw(15);
        font-weight: 500;
        line-height: 1.6;

        @include mq() {
            width: vwt(410);
            font-size: vwt(15);
        }

        @include mq(lg) {
            width: px2Rem(410);
            font-size: px2Rem(15);
        }
    }

    &__img {
        display: none;

        @include mq() {
            display: block;
        }

        @include mq(lg) {
            display: block;
        }
    }
}

//reasons
.reasons {
    padding: vw(56) vw(16) vw(56) vw(16);
    background-color: #f3f9f6;

    @include mq() {
        padding: vwt(64) vwt(16) vwt(64) vwt(16);
    }

    @include mq(lg) {
        padding: px2Rem(64) px2Rem(16) px2Rem(64) px2Rem(16);
    }

    &__container {
        @include mq() {
            width: vwt(1168);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(1168);
        }
    }

    &__title {
        font-size: vw(18);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(24) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(24) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(24) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;

        @include mq() {
            font-size: vwt(28);
        }

        @include mq(lg) {
            font-size: px2Rem(28);
        }
    }

    &__text {
        background-color: #fff;
        padding: vw(20) vw(16);
        border-bottom-left-radius: vw(24);
        border-bottom-right-radius: vw(24);
        margin: 0 0 vw(20) 0;
        box-shadow: 2px 2px 2px #eee;
        font-size: vw(18);
        font-weight: 700;
        color: #111111;

        @include mq() {
            width: vwt(369);
            padding: vwt(20) vwt(16);
            border-bottom-left-radius: vwt(24);
            border-bottom-right-radius: vwt(24);
            font-size: vwt(19);
        }

        @include mq(lg) {
            width: px2Rem(369);
            padding: px2Rem(20)px2Rem(16);
            border-bottom-left-radius: px2Rem(24);
            border-bottom-right-radius: px2Rem(24);
            font-size: px2Rem(19);
        }
    }

    &__img {
        display: block;
        width: vw(358);
        height: vw(201);

        @include mq() {
            width: vwt(369);
            height: auto;
        }

        @include mq(lg) {
            width: px2Rem(369);
            height: auto;
        }
    }

    &__list {
        @include mq() {
            display: flex;
            justify-content: center;
            gap: vwt(30);
        }

        @include mq(lg) {
            gap: px2Rem(30);
        }
    }
}

//service
.service {
    padding: vw(56) vw(16) vw(56) vw(16);

    &__container {
        @include mq() {
            width: vwt(1168);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(1168);
        }
    }

    &__title {
        font-size: vw(18);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(24) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(24) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(24) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;

        @include mq() {
            font-size: vwt(28);
        }

        @include mq(lg) {
            font-size: px2Rem(28);
        }
    }

    &__list {
        @include mq() {
            display: flex;
            flex-wrap: wrap;
            row-gap: vwt(40);
            column-gap: vwt(50);
            justify-content: center;
        }

        @include mq(lg) {
            row-gap: px2Rem(40);
            column-gap: px2Rem(50);
        }
    }

    &__item {
        background-color: #168352;
        border-radius: vw(24);
        padding: vw(20) vw(24);
        margin: 0 0 vw(20) 0;
        display: flex;
        align-items: center;
        gap: vw(20);

        &:hover {
            background-color: #dffaec;

            .service__txt {
                color: #168352;
            }
        }

        @include mq() {
            width: vwt(525);
            border-radius: vwt(24);
            padding: vwt(20) vwt(24);
            margin: 0 0 0 0;
            gap: vwt(20);
        }

        @include mq(lg) {
            width: px2Rem(525);
            border-radius: px2Rem(24);
            padding: px2Rem(20) px2Rem(24);
            margin: 0 0 0 0;
            gap: px2Rem(20);
        }
    }

    &__item-special {
        @include mq() {
            width: vwt(333);
        }

        @include mq(lg) {
            width: px2Rem(333);
        }
    }

    &__txt {
        font-size: vw(18);
        font-weight: 600;
        color: #fff;
        line-height: 1.75;

        @include mq() {
            font-size: vwt(24);
        }

        @include mq(lg) {
            font-size: px2Rem(24);
        }
    }

    &__txt-special {
        @include mq() {
            font-size: vwt(20);
        }

        @include mq(lg) {
            font-size: px2Rem(20);
        }
    }

    &__img {
        display: block;
        width: vw(100);
        height: vw(100);

        @include mq() {
            width: vwt(133);
            height: vwt(133);

        }

        @include mq(lg) {
            width: px2Rem(133);
            height: px2Rem(133);

        }
    }

    &__img-special {
        @include mq() {
            width: vwt(110);
            height: vwt(110);
        }

        @include mq(lg) {
            width: px2Rem(110);
            height: px2Rem(110);
        }
    }
}

//case
.case {
    padding: vw(56) vw(0) vw(56) vw(0);
    background-color: #f3f9f6;

    @include mq() {
        padding: vwt(56) vwt(0) vwt(56) vwt(0);
    }

    @include mq(lg) {
        padding: px2Rem(56) px2Rem(0) px2Rem(56) px2Rem(0);
    }

    &__container {
        @include mq() {
            width: vwt(1168);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(1168);
        }
    }

    &__title {
        font-size: vw(18);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(24) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(24) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(24) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;

        @include mq() {
            font-size: vwt(28);
        }

        @include mq(lg) {
            font-size: px2Rem(28);
        }
    }

    &__list {
        @include mq() {
            display: flex;
            gap: vwt(21);
            justify-content: center;
            align-items: center;
        }

        @include mq(lg) {
            gap: px2Rem(21)
        }
    }

    &__img {
        display: block;
        width: vw(358);
        height: vw(201);
        margin: 0 auto;

        @include mq() {
            width: vwt(369);
            height: vwt(226);
            margin: 0;
        }

        @include mq(lg) {
            width: px2Rem(369);
            height: px2Rem(226);
        }
    }

    &__text {
        color: #09947b;
        font-size: vw(18);
        font-weight: 700;
        padding: vw(16) vw(16) vw(32) vw(18);

        @include mq() {
            width: vwt(365);
            font-size: vwt(19);
            padding: vwt(16) vwt(16) vwt(32) vwt(18);
        }

        @include mq(lg) {
            width: px2Rem(365);
            font-size: px2Rem(19);
            padding: px2Rem(16) px2Rem(16) px2Rem(32) px2Rem(18);
        }
    }
}

//news
.news {
    padding: vw(56) vw(0) vw(56) vw(0);

    @include mq() {
        padding: vwt(56) vwt(0) vwt(56) vwt(0);
    }

    @include mq(lg) {
        padding: px2Rem(56) px2Rem(0) px2Rem(56) px2Rem(0);
    }

    &__container {
        @include mq() {
            width: vwt(900);
            margin: 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(900);
        }
    }


    &__title {
        font-size: vw(18);
        color: #168352;
        font-family: Montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 vw(24) 0;

        @include mq() {
            font-size: vwt(20);
            margin: 0 0 vwt(24) 0;
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin: 0 0 px2Rem(24) 0;
        }
    }

    &__translation {
        font-family: Noto Sans JP;
        font-size: vw(20);
        color: #000;
        text-align: center;
        font-weight: 700;

        @include mq() {
            font-size: vwt(28);
        }

        @include mq(lg) {
            font-size: px2Rem(28);
        }
    }

    &__wrapper {
        padding: vw(16) vw(0) vw(16) vw(0);
        border-top: 2px solid #dddddd;
        margin: 0 vw(15);

        @include mq() {
            display: flex;
            gap: vwt(24);
            align-items: center;
            padding: vwt(16) vwt(0) vwt(16) vwt(0);
            margin: 0 vwt(15);
        }

        @include mq(lg) {
            gap: px2Rem(24);
            padding: px2Rem(16) px2Rem(0) px2Rem(16) px2Rem(0);
            margin: 0 px2Rem(15);
        }
    }

    &__wrapper:last-child {
        border-bottom: 2px solid #dddddd;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: vw(18);
        margin-bottom: vw(16);

        @include mq() {
            gap: vwt(18);
            margin-bottom: vwt(0);
        }

        @include mq(lg) {
            gap: px2Rem(18);
            margin-bottom: px2Rem(0);
        }
    }

    &__date {
        font-size: vw(15);
        font-weight: 400;

        @include mq() {
            font-size: vwt(14);
        }

        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }

    &__summery {
        display: flex;
        justify-content: center;
        align-items: center;
        width: vw(134);
        height: vw(28);
        background-color: #473221;
        border-radius: vw(4);
        color: #fff;

        @include mq() {
            width: vwt(134);
            height: vwt(28);
            border-radius: vwt(4);
        }

        @include mq(lg) {
            width: px2Rem(134);
            height: px2Rem(28);
            border-radius: px2Rem(4);
        }
    }

    &__text {
        font-size: vw(15);
        font-weight: 700;
        color: #09947b;

        @include mq() {
            font-size: vwt(15);
        }

        @include mq(lg) {
            font-size: px2Rem(15);
        }
    }

    //button
    &__button {
        cursor: pointer;
        width: vw(300);
        height: vw(66);
        color: #fff;
        font-weight: 700;
        background-color: #09947b;
        border-radius: vw(33);
        margin: vw(24) auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 6px 0 #066655;

        &:hover {
            transform: translateY(6px);
            box-shadow: none;
        }

        @include mq() {
            width: vwt(300);
            height: vwt(66);
            border-radius: vwt(33);
            margin: vwt(24) auto 0 auto;
        }

        @include mq(lg) {
            width: px2Rem(300);
            height: px2Rem(66);
            border-radius: px2Rem(33);
            margin: px2Rem(24) auto 0 auto;
        }
    }
}

//footer
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: vw(16);
    background-color: #168352;
    padding: vw(24) vw(62);
    font-size: vw(13);
    font-weight: 400;
    color: #fff;

    @include mq() {
        gap: vwt(16);
        padding: vwt(34) vwt(62);
        font-size: vwt(13);
    }

    @include mq(lg) {
        gap: px2Rem(16);
        padding: px2Rem(34) px2Rem(62);
        font-size: px2Rem(13);
    }
}